// breakpoints
$XS: 320px;
$S: 480px;
$M: 768px;
$ML: 1024px;
$L: 1170px;
$XL: 1366px;
// media queries
@mixin MQ($canvas) {
    @if $canvas==XS {
        @media only screen and (min-width: $XS) {
            @content;
        }
    }
    @else if $canvas==S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }
    @else if $canvas==M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }
    @else if $canvas==ML {
        @media only screen and (min-width: $ML) {
            @content;
        }
    }
    @else if $canvas==L {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
    @else if $canvas==XL {
        @media only screen and (min-width: $XL) {
            @content;
        }
    }
}

@mixin hp-opacity($trans) {
    filter: alpha(opactiy=($trans * 100));
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
    -moz-opacity: $trans;
    -khtml-opacity: $trans;
    opacity: $trans;
}

// rem fallback - credits: http://zerosixthree.se/
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

// center vertically and/or horizontally an absolute positioned element
@mixin center($xy:xy) {
    @if $xy==xy {
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        @include transform(translateX(-50%) translateY(-50%));
    }
    @else if $xy==x {
        left: 50%;
        right: auto;
        @include transform(translateX(-50%));
    }
    @else if $xy==y {
        top: 50%;
        bottom: auto;
        @include transform(translateY(-50%));
    }
}

// border radius
@mixin border-radius($radius:.25em) {
    border-radius: $radius;
}

@mixin column($percentage, $float-direction:left) {
    width: 100% * $percentage;
    float: $float-direction;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin fh5co-transition($transition, $easing: ease) {
    -webkit-transition: all $transition $easing;
    -moz-transition: all $transition $easing;
    -ms-transition: all $transition $easing;
    -o-transition: all $transition $easing;
    transition: all $transition $easing;
}

@mixin fh5co-scale($scale: 1.1) {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    -o-transform: scale($scale);
    -ms-transform: scale($scale);
    transform: scale($scale);
}

@mixin bg-image() {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}