$main-nav-links-color: #fff;
$main-nav-links-hover: rgba(#fff, 0.2);

.nav_menu {

    @include linear-gradient(left, #39b54a, #df5208);
    
    .toggle a {
        color: $main-nav-links-color;
        font-size: 19px;
    }
}

.nav.navbar-nav>li>a {
    color: $main-nav-links-color !important;
}

.top_nav .nav>li>a:focus, .top_nav .nav>li>a:hover, .top_nav .nav .open>a, .top_nav .nav .open>a:focus, .top_nav .nav .open>a:hover {
    background: $main-nav-links-hover;
}
