$sidebar-nav-link-color: #737e93 !default;
$sidebar-nav-currentlink-color: #4f5562 !default;
$sidebar-nav-currentlink-bg: #39b54a !default;
$sidebar-nav-currentlink-border: #df5208 !default;
.nav_title {
    background: #39b54a;
    border-radius: 0;
    height: 57px;
}

.nav.side-menu>li.current-page,
.nav.side-menu>li.active {
    border-right: 3px solid $sidebar-nav-currentlink-border;
}

.left_col {
    background: #fff;
}

.nav.side-menu>li>a,
.nav.child_menu>li>a {
    color: $sidebar-nav-link-color;
}

.nav.side-menu>li.active>a,
.nav.side-menu>li.active>a:hover {
    color: #fff !important;
}

.nav.side-menu>li>a:hover {
    color: $sidebar-nav-currentlink-color !important;
}

.profile_info h2 {
    color: $sidebar-nav-link-color;
}

.nav li li.current-page a {
    color: $sidebar-nav-currentlink-color;
}

.nav.side-menu>li>a:hover {
    color: $sidebar-nav-currentlink-color;
}

.nav.side-menu>li.active>a {
    text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
    background: $sidebar-nav-currentlink-bg;
    box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0;
}


/* Before links styles */

.nav-md ul.nav.child_menu li:before {
    margin-top: 13px;
    background: $sidebar-nav-currentlink-bg;
}

.nav-md ul.nav.child_menu li:after {
    border-left: 1px solid $sidebar-nav-currentlink-bg;
}

.navbar-nav .open .dropdown-menu {
    -webkit-box-shadow: 4px 6.9px 16px rgba(99, 117, 138, 0.1);
    -moz-box-shadow: 4px 6.9px 16px rgba(99, 117, 138, 0.1);
    box-shadow: 4px 6.9px 16px rgba(99, 117, 138, 0.1);
}


/* main Logo */

.site_title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    font-size: 22px;
    width: 70px;
    color: #ECF0F1 !important;
    line-height: 59px;
    display: block;
    height: 55px;
    margin: 0 auto !important;
    padding-left: 10px;
    img {
        width: 100%;
    }
}

.menu_section h3 {
    padding-left: 23px;
    color: $sidebar-nav-currentlink-color;
    font-size: 13px;
    text-shadow: none;
}


.main_menu li span.fa {
    color: $orange;
}

.main_menu li.active span.fa {
    color: #fff;
}