$login-color-heading: #fff !default;
body.login {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkite-background-size: cover;
    min-height: 100%;
    @include size(100%);
    &:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: url(../img/login-bg.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

.login_wrapper h1 {
    font: inherit;
    letter-spacing: -0.05em;
    line-height: 20px;
    text-align: center;
    margin: 10px 0 30px;
    color: $login-color-heading;
    font-weight: 300 !important;
    font-size: rem(36);
}

.login_content {
    text-shadow: none;
    @include padding(0);
    h4 {
        font-weight: $font-weight-300;
    }
}

.login_wrapper img {
    width: 160px;
    margin: 0 auto;
    display: block;
}

.login_content form div a {
    margin: 0 !important;
}

.registration_form,
.login_form {
    background: #fff;
    border-radius: 4px;
    @include padding(15px);
    top: 164px;
}

.atc-form {
    border-color: 2px solid rgba($gray, 0.3) !important;
    &:focus {
        border: 2px solid $orange !important;
    }
}