@charset "UTF-8";
/*
 * a small mixin for easy use of rem with px as fallback
 * usage: @include x-rem(font-size, 14px)
 * usage: @include x-rem(marign, 0 12px 2 1.2)
 * usage: @include x-rem(padding, 1.5 24px)
 *
 * thanks to Eric Meyer for https://github.com/ericam/susy
 * and Hans Christian Reinl for http://drublic.de/blog/rem-fallback-sass-less/
 */
/*-------------------

Heading Sizes

-------------------*/
html {
  font-size: 100%;
  line-height: 1.4; }
  @media all and (min-width: 50em) {
    html {
      font-size: 112.5%; } }
  @media all and (min-width: 75em) {
    html {
      font-size: 125%;
      line-height: 1.6; } }

h1, h2, h3, h4, h5, h6 {
  margin: 0.3125em 0; }

h1,
.exa {
  font-size: 2.56578rem;
  line-height: 1.3; }
  @media all and (min-width: 75em) {
    h1,
    .exa {
      font-size: 3.15733rem;
      line-height: 1.4; } }

h2,
.peta {
  font-size: 2.02729rem;
  line-height: 1.3; }
  @media all and (min-width: 75em) {
    h2,
    .peta {
      font-size: 2.36859rem;
      line-height: 1.4; } }

h3,
.tera {
  font-size: 1.333rem;
  line-height: 1.3; }
  @media all and (min-width: 75em) {
    h3,
    .tera {
      font-size: 1.42383rem;
      line-height: 1.4; } }

h4,
.giga {
  font-size: 1.125rem;
  line-height: 1.3; }
  @media all and (min-width: 75em) {
    h4,
    .giga {
      font-size: 1.26563rem;
      line-height: 1.4; } }

.text-italic {
  font-style: italic; }

a,
a:hover {
  outline: 0;
  text-decoration: none; }

/*-------------------

Global Styles

-------------------*/
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?66320121");
  src: url("../fonts/fontello.eot?66320121#iefix") format("embedded-opentype"), url("../fonts/fontello.woff2?66320121") format("woff2"), url("../fonts/fontello.woff?66320121") format("woff"), url("../fonts/fontello.ttf?66320121") format("truetype"), url("../fonts/fontello.svg?66320121#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?98780761#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-ok:before {
  content: '\e800'; }

/* '' */
.icon-right-open-big:before {
  content: '\e801'; }

/* '' */
.icon-left-open-big:before {
  content: '\e802'; }

/* '' */
.icon-left-small:before {
  content: '\e803'; }

/* '' */
.icon-pencil:before {
  content: '\e804'; }

/* '' */
.icon-twitter:before {
  content: '\f099'; }

/* '' */
.icon-facebook:before {
  content: '\f09a'; }

/* '' */
.icon-play-circled:before {
  content: '\f144'; }

/* '' */
.icon-instagram:before {
  content: '\f16d'; }

/* '' */
.icon-circle-notch:before {
  content: '\f1ce'; }

/* '' */
/* -------------------------------- 

COMPONENTS - Button style

-------------------------------- */
.btn {
  outline: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn:focus,
.btn:active,
.btn:hover {
  outline: 0; }

/* Button Sizes */
.btn-xs {
  font-size: 0.70233rem;
  padding: 6px 11px;
  padding: 0.375rem 0.6875rem; }

.btn-sm {
  font-size: 0.75019rem;
  padding: 8px 15px;
  padding: 0.5rem 0.9375rem; }

.btn-md {
  padding: 10px 40px;
  padding: 0.625rem 2.5rem; }

.btn-lg {
  font-size: 16px;
  padding: 15px 40px;
  padding: 0.9375rem 2.5rem; }

/* Button Class - Green */
.btn-green {
  background-color: #39b54a;
  -webkit-box-shadow: 0 3px 6px 0 rgba(57, 181, 74, 0.5);
  box-shadow: 0 3px 6px 0 rgba(57, 181, 74, 0.5);
  transform: translateY(-1px);
  color: #fff !important; }
  .btn-green:hover {
    background-color: #37ad47;
    color: #fff !important; }

/* Button Class - Orange */
.btn-orange {
  background-color: #df5208;
  color: #fff !important;
  -webkit-box-shadow: 0 3px 6px 0 rgba(223, 82, 8, 0.4);
  box-shadow: 0 3px 6px 0 rgba(223, 82, 8, 0.4); }
  .btn-orange:hover {
    background-color: #d54e08;
    color: #fff !important; }

/* Button Class - Default */
.btn-default {
  color: #737e93 !important;
  border: 1px solid rgba(115, 126, 147, 0.15);
  -webkit-box-shadow: 0 3px 6px 0 rgba(115, 126, 147, 0.2);
  box-shadow: 0 3px 6px 0 rgba(115, 126, 147, 0.2); }
  .btn-default:hover {
    border: 1px solid rgba(115, 126, 147, 0.15); }

/* Button Class - Submit */
.btn-success {
  background-color: #4bcfbe;
  color: #fff !important;
  border: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(75, 207, 190, 0.4);
  box-shadow: 0 3px 6px 0 rgba(75, 207, 190, 0.4); }
  .btn-success:hover, .btn-success:active {
    background-color: #4bcfbe !important; }

/* Button Class - Submit */
.btn-purple {
  background-color: #ac8fef;
  color: #fff !important;
  border: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(172, 143, 239, 0.4);
  box-shadow: 0 3px 6px 0 rgba(172, 143, 239, 0.4); }
  .btn-purple:hover {
    background-color: #ac8fef; }

/* Button Class - Instagram */
.btn-ig {
  background-color: #3f729b;
  color: #fff;
  border: 0;
  margin: 10px 0; }
  .btn-ig:focus, .btn-ig:hover {
    background-color: #356083;
    border: 0;
    color: #fff; }

/* If no shadow on the button*/
.btn-no-shadow {
  box-shadow: none !important; }

.control-label {
  text-align: left !important; }

/* -------------------------------- 

FIGURES - Images and elements styles

-------------------------------- */
/*-------------------

PAGE: Home

-------------------*/
.main-view .page-heading h3 {
  margin: 0;
  color: #fff;
  font-weight: 300; }

.main-view .page-heading p {
  text-align: center;
  color: #fff; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  opacity: .2; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff; }

.swiper-container {
  width: 100%;
  height: 423px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 20px auto; }

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center; }

.card-block {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  transition: box-shadow .25s;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.4); }
  .card-block.card-type-1 {
    width: 320px;
    margin: 20px auto; }

.card-block .card-image {
  position: relative;
  overflow: hidden;
  height: 262px; }
  .card-block .card-image:hover .highlight-overlay {
    opacity: 0.4; }
  .card-block .card-image .highlight-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.7;
    background-color: transparent;
    background-image: -webkit-linear-gradient(top, transparent 0%, black 95%, black 100%);
    background-image: linear-gradient(to bottom,transparent 0%, black 95%, black 100%);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .card-block .card-image img {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    display: block;
    border-radius: 4px 4px 0 0; }
  .card-block .card-image .card-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
    text-align: left; }

.card-block .card-content {
  padding: 20px;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
  text-align: left;
  color: #737e93; }

.card-block .card-action {
  position: relative;
  background-color: inherit;
  border-top: 1px solid rgba(160, 160, 160, 0.2);
  padding: 20px; }

body {
  font-family: 'Roboto', sans-serif;
  color: #737e93;
  font-weight: 300;
  font-size: 1rem; }

* {
  margin: 0;
  padding: 0; }

*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.m-0 {
  margin: 0; }

.p-0 {
  padding: 0; }

.ec {
  height: 100%;
  width: 100%; }

/* view footer */
.ec__footer {
  font-size: 0.79012rem; }
  .ec__footer--mod {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; }
  .ec__footer nav > ul > li {
    display: inline; }
  .ec__footer nav > ul > li > a {
    padding: 0.625em;
    color: #fff;
    text-decoration: none;
    font-size: 0.79012rem; }
    .ec__footer nav > ul > li > a:hover {
      background-color: transparent; }
  .ec__footer .copyright {
    font-size: 0.70233rem; }

/* view wrapper */
.ec__view--bg:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
  background: url(../img/main-bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.ec__view__logo {
  padding: 0.625rem 0; }

.ec__view__logo img {
  height: auto;
  width: 150px; }

.ec__view__i {
  background: rgba(255, 255, 255, 0.8); }
  @media all and (min-width: 20em) {
    .ec__view__i {
      height: auto; } }
  @media all and (min-width: 64em) {
    .ec__view__i {
      height: 530px;
      width: 100%; } }

.ec__view__i, .ec__view__iside {
  padding: 1.25rem; }
  @media all and (min-width: 48em) {
    .ec__view__i, .ec__view__iside {
      padding: 1.5625rem 2.1875rem; } }

@media all and (min-width: 20em) {
  .ec__view__iside {
    height: auto; } }

@media all and (min-width: 64em) {
  .ec__view__iside {
    height: 530px;
    width: 100%; } }

.ec__view__wrpr {
  margin: 5.625rem 0 0.625rem;
  position: relative; }
  @media all and (min-width: 75em) {
    .ec__view__wrpr {
      margin: 3.75rem 0 0.625rem; } }
  @media all and (min-width: 90em) {
    .ec__view__wrpr {
      margin: 6.25rem 0 0.625rem; } }

.ec__view__links {
  padding: 0.625em 0; }
  .ec__view__links a {
    color: #fff; }

.ec__view__wrpr img.ec__view__logo {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -70%); }
  @media all and (min-width: 64em) {
    .ec__view__wrpr img.ec__view__logo {
      transform: translate(-50%, -55%); } }

.ec__view__i .promo-title {
  margin: 0.3125em 0; }

.ec__view__i .promo-title > h1.giga {
  color: #df5208;
  text-align: center;
  margin: 0;
  font-family: 'Shadows Into Light', cursive; }

.ec__view__i .promo_brand {
  display: block;
  height: 70px;
  width: 70px;
  margin-right: auto;
  margin-bottom: 0.625rem;
  margin-left: auto; }

.ec__view__i .info-content {
  padding: 0.625em;
  font-weight: 400;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 300px;
  font-size: 0.79012rem;
  position: relative;
  z-index: 100; }
  @media all and (min-width: 48em) {
    .ec__view__i .info-content {
      padding: 1.25em;
      max-height: 450px; } }

.ec__view__i .info-content ul,
.ec__view__i .info-content ol {
  padding-left: 1.25rem; }

.ec__view__i .info-content ul,
.ec__view__i .info-content li {
  margin-top: 0.625em;
  margin-bottom: 0.625em; }

.ec__view__i .info-content ol.list-alpha {
  list-style-type: lower-alpha; }

.ec__view__i .info-content ol.list-roman {
  margin-top: 0.3125em;
  margin-bottom: 0.3125em;
  list-style-type: upper-roman; }

.ec__view__i .info-content p {
  font-size: 0.79012rem; }

.ec__view__i .info-content table {
  font-size: 0.79012rem; }

.ec__view__i .info-content h1 {
  color: #df5208;
  font-size: 1.125rem;
  line-height: 1.3; }
  @media all and (min-width: 75em) {
    .ec__view__i .info-content h1 {
      font-size: 1.26563rem;
      line-height: 1.4; } }

.ec__view__i .info-content .division {
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.18);
  margin-top: 0.3125rem;
  margin-bottom: 0.3125rem; }

/* Scrollbar style when viewing on chrome */
.info-content::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background: rgba(115, 126, 147, 0.15); }

.info-content::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.info-content::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none; }

.info-content::-webkit-scrollbar-corner {
  background-color: transparent; }

.ec__view__iside {
  background-image: url(../img/info-side.jpg);
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  color: #fff; }
  .ec__view__iside h4.showcase__title {
    font-size: 0.88889rem;
    font-weight: 300;
    text-align: left; }
  .ec__view__iside h4 {
    font-size: 0.88889rem;
    font-weight: 300; }
  .ec__view__iside .form__container {
    color: #737e93;
    border-radius: 4px;
    text-align: center;
    margin: 1.25rem 0;
    padding: 1.25rem;
    background-color: #fff;
    -webkit-box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 25px 40px 0 rgba(0, 0, 0, 0.1); }
  .ec__view__iside form.form-inline .alert {
    font-size: 0.75019rem; }
  .ec__view__iside .form__container .form-control {
    padding: 8px 15px;
    height: 43px; }
  .ec__view__iside .form__container .form-inline > button {
    width: 100%; }
    @media all and (min-width: 48em) {
      .ec__view__iside .form__container .form-inline > button {
        width: auto; } }
  .ec__view__iside .helper__card {
    background-color: #ff7474;
    border-radius: 4px;
    text-align: center;
    padding: 0.625em 10px;
    margin: 0.625rem auto;
    height: auto;
    width: 100%; }
    .ec__view__iside .helper__card h1 {
      font-size: 0.88889rem; }
    .ec__view__iside .helper__card p.small {
      font-size: 0.75019rem; }
  .ec__view__iside .permit {
    font-size: 0.75019rem; }
  .ec__view__iside .list-inline-white a {
    border-radius: 50%;
    display: block;
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-size: 14px; }
    .ec__view__iside .list-inline-white a i {
      display: block;
      margin-top: 0.625em;
      margin-left: 0; }
      @media all and (min-width: 64em) {
        .ec__view__iside .list-inline-white a i {
          margin-top: 0.625em; } }
    .ec__view__iside .list-inline-white a:hover.facebook {
      border-color: #3b5998;
      background: #3b5998; }
    .ec__view__iside .list-inline-white a:hover.twitter {
      border-color: #0084b4;
      background: #0084b4; }
    .ec__view__iside .list-inline-white a:hover.instagram {
      border-color: #fb3958;
      background: #fb3958; }

/*# sourceMappingURL=style.css.map */