$white: #fff;
$color-main-text: $white;
$footer-weight: 700;
$background-color-wrapper: rgba($white, .8);
$main-title-color: #df5208;
$body-text-color: #737e93;
$helper-card-background: #ff7474;
$wrapper-box-size: 530px;


body {
    font-family: 'Roboto', sans-serif;
    color: $body-text-color;
    font-weight: 300;
    font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
}

*::before,
*::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.ec {
    @include size(100%);
    //    min-height: 768px;
}


/* view footer */

.ec__footer {
    //    position: fixed;
    //    left: 0;
    //    right: 0;
    //    bottom: 0;
    font-size: ms(-2);
    &--mod {
        color: $color-main-text;
        font-weight: $footer-weight;
        text-transform: uppercase;
    }
    nav>ul>li {
        display: inline;
    }
    nav>ul>li>a {
        @include padding(em(10));
        color: $color-main-text;
        text-decoration: none;
        font-size: ms(-2);
        &:hover {
            background-color: transparent;
        }
    }
    .copyright {
        font-size: ms(-4);
    }
}


/* view wrapper */

.ec__view {
    &--bg:before {
        content: "";
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        @include position(fixed, 0 null null 0);
        @include size(100%);
        z-index: -10;
        background: url(../img/main-bg.jpg) no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    &__logo {
        @include padding(rem(10) 0);
    }
    &__logo img {
        @include size(150px auto);
    }
    &__i {
        background: $background-color-wrapper;
        @include mappy-bp(XS) {
            @include size(null auto);
        }
        @include mappy-bp(ML) {
            @include size(100% $wrapper-box-size);
        }
    }
    &__i,
    &__iside {
        @include padding(rem(20));
        @include mappy-bp(M) {
            @include padding(rem(25) rem(35));
        }
    }
    &__iside {
        @include mappy-bp(XS) {
            @include size(null auto);
        }
        @include mappy-bp(ML) {
            @include size(100% $wrapper-box-size);
        }
    }
}

.ec__view__wrpr {
    //        @include size(956px auto);
    @include margin(rem(90) 0 rem(10) 0);
    position: relative;
    @include mappy-bp(L) {
        @include margin(rem(60) 0 rem(10) 0);
    }
    @include mappy-bp(XXL) {
        @include margin(rem(100) 0 rem(10) 0);
    }
}

.ec__view__links {
    @include padding(em(10) 0);
    a {
        color: $white;
    }
}

.ec__view__wrpr img.ec__view__logo {
    @include position(absolute, 0 null null 50%);
    z-index: 99;
    transform: translate(-50%, -70%);
    @include mappy-bp(ML) {
            transform: translate(-50%, -55%);

    }
}

.ec__view__i {
    .promo-title {
        @include margin(em(5) 0);
    }
    .promo-title>h1.giga {
        color: $main-title-color;
        text-align: center;
        margin: 0;
        font-family: 'Shadows Into Light', cursive;
    }
    .promo_brand {
        display: block;
        @include size(70px);
        @include margin(null auto rem(10) auto);
    }
    .info-content {
        @include padding(em(10));
        font-weight: 400;
        background-color: $white;
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 300px;
        font-size: ms(-2);
        position: relative;
        z-index: 100;
        @include mappy-bp(M) {
            @include padding(em(20));
            max-height: 450px;
        }
    }
    .info-content ul,
    .info-content ol {
        padding-left: rem(20);
    }
    .info-content ul,
    .info-content li {
        @include margin(em(10) null);
    }
    .info-content ol.list-alpha {
        list-style-type: lower-alpha;
    }
    .info-content ol.list-roman {
        @include margin(em(5) null);
        list-style-type: upper-roman;
    }
    .info-content p {
        font-size: ms(-2);
        //        text-align: justify;
        //        white-space: nowrap;
    }
    .info-content table {
        font-size: ms(-2);
    }
    .info-content h1 {
        color: $main-title-color;
        @include typi($h4-map);
    }
    .info-content .division {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.18);
        @include margin(rem(5) null);
    }
}


/* Scrollbar style when viewing on chrome */

.info-content::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background: rgba($body-text-color, 0.15);
}

.info-content::-webkit-scrollbar-thumb {
    height: 6px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, .15);
    //    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
    @include transition(all 0.2s ease-in-out);
}

//
//.info-content:hover::-webkit-scrollbar-thumb {
//    background-color: rgba(0, 0, 0, .15);
//}
.info-content::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

.info-content::-webkit-scrollbar-corner {
    background-color: transparent;
}

.ec__view__iside {
    background-image: url(../img/info-side.jpg);
    @include bg-image();
    color: $white;
    h4.showcase__title {
        font-size: ms(-1);
        font-weight: 300;
        text-align: left;
    }
    h4 {
        font-size: ms(-1);
        font-weight: 300;
    }
    .form__container {
        color: $body-text-color;
        border-radius: 4px;
        text-align: center;
        @include margin(rem(20) 0);
        @include padding(rem(20));
        background-color: $white;
        -webkit-box-shadow: 0 25px 40px 0 rgba(#000, .10);
        box-shadow: 0 25px 40px 0 rgba(#000, .10);
    }
    form.form-inline .alert {
        font-size: ms(-3);
    }
    .form__container .form-control {
        padding: 8px 15px;
        height: 43px;
    }
    .form__container .form-inline > button {
        width: 100%;
        @include mappy-bp(M) {
            width: auto;
        }
    }
    .helper__card {
        h1 {
            font-size: ms(-1);
        }
        background-color: $helper-card-background;
        border-radius: 4px;
        text-align: center;
        @include padding(em(10) 10px);
        @include margin(rem(10) auto);
        @include size(100% auto);
        @include mappy-bp(ML) {
            // @include size(365px auto);
        }
        p.small {
            font-size: ms(-3);
        }
    }
    .permit {
        font-size: ms(-3);
    }
    .list-inline-white {
        a {
            border-radius: 50%;
            display: block;
            @include size(40px);
            border: 2px solid $white;
            color: $white;
            @include transition(all 0.2s ease-in-out);
            font-size: 14px;
            i {
                display: block;
                margin-top: em(10);
                margin-left: 0;
                @include mappy-bp(ML) {
                    margin-top: em(10);
                }
            }
            &:hover.facebook {
                border-color: #3b5998;
                background: #3b5998;
            }
            &:hover.twitter {
                border-color: #0084b4;
                background: #0084b4;
            }
            &:hover.instagram {
                border-color: #fb3958;
                background: #fb3958;
            }
        }
    }
}