/*-------------------

Global Styles

-------------------*/
$main-bg: #fff !default;
$right-wrapper-bg: #e5eaf3 !default;
body {
    background: $main-bg;
    font-family: $font-primary !important;
}
body .container.body .right_col {
    background: $right-wrapper-bg;
}