/*
 * a small mixin for easy use of rem with px as fallback
 * usage: @include x-rem(font-size, 14px)
 * usage: @include x-rem(marign, 0 12px 2 1.2)
 * usage: @include x-rem(padding, 1.5 24px)
 *
 * thanks to Eric Meyer for https://github.com/ericam/susy
 * and Hans Christian Reinl for http://drublic.de/blog/rem-fallback-sass-less/
 */
/*-------------------

Heading Sizes

-------------------*/
/*-------------------

Global Styles

-------------------*/
.with-shadow{
    border: 1px solid rgba(115, 126, 147, 0.15) !important;
    -webkit-box-shadow: 0 3px 6px 0 rgba(115, 126, 147, 0.2) !important;
    box-shadow: 0 3px 6px 0 rgba(115, 126, 147, 0.2) !important;
}


@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}


body {
  background: #fff;
  font-family: "Roboto", sans-serif !important; }

body .container.body .right_col {
  background: #e5eaf3; }

.nav_menu {
  background-color: #39b54a;
  background-image: -webkit-linear-gradient(left, #39b54a, #df5208);
  background-image: linear-gradient(to right,#39b54a, #df5208, , , , , , , , ); }
  .nav_menu .toggle a {
    color: #fff;
    font-size: 19px; }

.nav.navbar-nav > li > a {
  color: #fff !important; }

.top_nav .nav > li > a:focus, .top_nav .nav > li > a:hover, .top_nav .nav .open > a, .top_nav .nav .open > a:focus, .top_nav .nav .open > a:hover {
  background: rgba(255, 255, 255, 0.2); }

.nav_title {
  background: #39b54a;
  border-radius: 0;
  height: 57px; }

.nav.side-menu > li.current-page,
.nav.side-menu > li.active {
  border-right: 3px solid #df5208; }

.left_col {
  background: #fff; }

.nav.side-menu > li > a,
.nav.child_menu > li > a {
  color: #737e93; }

.nav.side-menu > li.active > a,
.nav.side-menu > li.active > a:hover {
  color: #fff !important; }

.nav.side-menu > li > a:hover {
  color: #4f5562 !important; }

.profile_info h2 {
  color: #737e93; }

.nav li li.current-page a {
  color: #4f5562; }

.nav.side-menu > li > a:hover {
  color: #4f5562; }

.nav.side-menu > li.active > a {
  text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0;
  background: #39b54a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 0, inset rgba(255, 255, 255, 0.16) 0 1px 0; }

/* Before links styles */
.nav-md ul.nav.child_menu li:before {
  margin-top: 13px;
  background: #39b54a; }

.nav-md ul.nav.child_menu li:after {
  border-left: 1px solid #39b54a; }

.navbar-nav .open .dropdown-menu {
  -webkit-box-shadow: 4px 6.9px 16px rgba(99, 117, 138, 0.1);
  -moz-box-shadow: 4px 6.9px 16px rgba(99, 117, 138, 0.1);
  box-shadow: 4px 6.9px 16px rgba(99, 117, 138, 0.1); }

/* main Logo */
.site_title {
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 400;
  font-size: 22px;
  width: 70px;
  color: #ECF0F1 !important;
  line-height: 59px;
  display: block;
  height: 55px;
  margin: 0 auto !important;
  padding-left: 10px; }
  .site_title img {
    width: 100%; }

.menu_section h3 {
  padding-left: 23px;
  color: #4f5562;
  font-size: 13px;
  text-shadow: none; }

.main_menu li span.fa {
  color: #df5208; }

.main_menu li.active span.fa {
  color: #fff; }

.nav-md .container.body .col-md-3.left_col {
  z-index: 1000; }

/* --------------------------------

COMPONENTS - Button style

-------------------------------- */
.btn {
  outline: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

.btn:focus,
.btn:active,
.btn:hover {
  outline: 0; }

/* Button Sizes */
.btn-xs {
  font-size: 0.1459em;
  padding: 6px 11px;
  padding: 0.375rem 0.6875rem; }

.btn-sm {
  font-size: 0.23607em;
  padding: 8px 15px;
  padding: 0.5rem 0.9375rem; }

.btn-md {
  padding: 10px 40px;
  padding: 0.625rem 2.5rem; }

.btn-lg {
  font-size: 16px;
  padding: 15px 40px;
  padding: 0.9375rem 2.5rem; }

/* Button Class - Green */
.btn-green {
  background-color: #39b54a;
  -webkit-box-shadow: 0 3px 6px 0 rgba(57, 181, 74, 0.5);
  box-shadow: 0 3px 6px 0 rgba(57, 181, 74, 0.5);
  /*transform: translateY(-1px);*/
  color: #fff !important; }
  .btn-green:hover {
    background-color: #37ad47;
    color: #fff !important; }

/* Button Class - Orange */
.btn-orange {
  background-color: #df5208;
  color: #fff !important;
  -webkit-box-shadow: 0 3px 6px 0 rgba(223, 82, 8, 0.4);
  box-shadow: 0 3px 6px 0 rgba(223, 82, 8, 0.4); }
  .btn-orange:hover {
    background-color: #d54e08;
    color: #fff !important; }

/* Button Class - Default */
.btn-default {
  color: #737e93 !important;
  border: 1px solid rgba(115, 126, 147, 0.15);
  -webkit-box-shadow: 0 3px 6px 0 rgba(115, 126, 147, 0.2);
  box-shadow: 0 3px 6px 0 rgba(115, 126, 147, 0.2); }
  .btn-default:hover {
    border: 1px solid rgba(115, 126, 147, 0.15); }

/* Button Class - Submit */
.btn-success {
  background-color: #4bcfbe;
  color: #fff !important;
  border: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(75, 207, 190, 0.4);
  box-shadow: 0 3px 6px 0 rgba(75, 207, 190, 0.4); }
  .btn-success:hover, .btn-success:active {
    background-color: #4bcfbe !important; }

/* Button Class - Submit */
.btn-purple {
  background-color: #ac8fef;
  color: #fff !important;
  border: 0;
  -webkit-box-shadow: 0 3px 6px 0 rgba(172, 143, 239, 0.4);
  box-shadow: 0 3px 6px 0 rgba(172, 143, 239, 0.4); }
  .btn-purple:hover {
    background-color: #ac8fef; }

/* Button Class - Instagram */
.btn-ig {
  background-color: #3f729b;
  color: #fff;
  border: 0;
  margin: 10px 0; }
  .btn-ig:focus,
  .btn-ig:hover {
    background-color: #356083;
    border: 0;
    color: #fff; }

/* --------------------------------

FIGURES - Images and elements styles

-------------------------------- */
.modal {
  z-index: 9999; }

.modal.modal-receipt-view .modal-header {
  border: 0;
  text-align: center; }
  .modal.modal-receipt-view .modal-header h1 {
    font-weight: 300;
    color: #4cd964; }
  .modal.modal-receipt-view .modal-header img {
    margin: 1.25rem 0;
    height: 92px;
    width: 92px; }

.modal.modal-receipt-view .modal-body .receipt-logo {
  height: auto;
  width: 70px; }

.modal.modal-receipt-view .modal-body .receipt-content {
  min-height: 300px;
  max-height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 4px;
  border: 1px solid rgba(115, 126, 147, 0.2);
  padding: 1.25rem; }
  .modal.modal-receipt-view .modal-body .receipt-content span.total {
    color: red;
    font-weight: 700; }

/* Scrollbar style when viewing on chrome */
.modal.modal-receipt-view .modal-body .receipt-content::-webkit-scrollbar {
  width: 14px;
  height: 14px; }

.modal.modal-receipt-view .modal-body .receipt-content::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05); }

.modal.modal-receipt-view .modal-body .receipt-content:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); }

.modal.modal-receipt-view .modal-body .receipt-content::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none; }

.modal.modal-receipt-view .modal-body .receipt-content::-webkit-scrollbar-corner {
  background-color: transparent; }

.x_panel {
  -webkit-box-shadow: 4px 6.9px 16px rgba(99, 117, 138, 0.1);
  -moz-box-shadow: 4px 6.9px 16px rgba(99, 117, 138, 0.1);
  box-shadow: 4px 6.9px 16px rgba(99, 117, 138, 0.1); }

body.login {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkite-background-size: cover;
  min-height: 100%;
  height: 100%;
  width: 100%; }
  body.login:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/login-bg.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.login_wrapper h1 {
  font: inherit;
  letter-spacing: -0.05em;
  line-height: 20px;
  text-align: center;
  margin: 10px 0 30px;
  color: #fff;
  font-weight: 300 !important;
  font-size: 2.25rem; }

.login_content {
  text-shadow: none;
  padding: 0; }
  .login_content h4 {
    font-weight: 300; }

.login_wrapper img {
  width: 160px;
  margin: 0 auto;
  display: block; }

.login_content form div a {
  margin: 0 !important; }

.registration_form,
.login_form {
  background: #fff;
  border-radius: 4px;
  padding: 15px;
  top: 164px; }

.atc-form {
  border-color: 2px solid rgba(115, 126, 147, 0.3) !important; }
  .atc-form:focus {
    border: 2px solid #df5208 !important; }

/*# sourceMappingURL=style.css.map */


/**
 * Modified
 */

.btn-no-shadow{
  box-shadow:none !important;
}

.control-label{
  text-align:left !important;
}