/*-------------------

Heading Sizes

-------------------*/

html {
    @include typi-base();
}

//p + p {
//    margin-top: 1.4em;
//}

h1,h2,h3,h4,h5,h6 {
    margin: em(5) 0;
}

h1,
.exa {
    @include typi($h1-map)
}

h2,
.peta {
    @include typi($h2-map)
}

h3,
.tera {
    @include typi($h3-map)
}

h4,
.giga {
    @include typi($h4-map)
}

//h5,
//.mega {
//    font-size: ms(1);
//    @include ms-respond(font-size,
//    1);
//}
//
//h6,
//.kilo {
//    font-size: ms(0);
//    @include ms-respond(font-size,
//    0);
//}
.text-italic {
    font-style: italic;
}

//.page-heading {
////    color: $violet;
//    text-align: center;
//    @include x-rem(margin,
//    0 0 15px 0);
//}
a,
a:hover {
    outline: 0;
    text-decoration: none;
}