// Sass Variables
// Colors - Main
$green: #39b54a;
$orange: #df5208;
$gray: #737e93;
$purple: #ac8fef;
// Colors - Fonts
$font-color-white: #fff;
$font-color-gray: #737e93;
$font-color-transparent-white: rgba(255, 255, 255, 0.5);
// Colors - Buttons
$btn-color-orange: $orange;
$btn-color-green: $green;
$btn-color-purple: $purple;
// Fonts - Styles
$font-primary: 'Roboto',
sans-serif;
// Fonts - Weight
$font-weight-300:300;
$font-weight-400:300;
$font-weight-600:600;
$font-weight-700:700;
// Modular Scale Applied for better typograhpy visit http://www.modularscale.com/
$ms-base: 1rem;
$ms-ratio: 1.333,
1.125;
// mappy-breakpoints (for responsive queries)
// typi (for responsive typography)
$typi-breakpoint: mappy-breakpoints;
$breakpoints: (
    XS: 320px,
    XSIP5: 375px,
    XSIP6: 414px,
    S: 480px, 
    M: 768px, 
    ML: 1024px, 
    L: 1200px, 
    XL: 1366px, 
    XXL:1440px, 
    XXX:1600px, 
    xsmall: 320px, 
    small: 800px, 
    large: 1200px);

$typi: ( null: (16px, 1.4), small: 18px, large: (20px, 1.6));

$h1-map: ( null: (ms(11), 1.3), large: (ms(13), 1.4));
$h2-map: ( null: (ms(8), 1.3), large: (ms(10), 1.4));
$h3-map: ( null: (ms(3), 1.3), large: (ms(4), 1.4));
$h4-map: ( null: (ms(1), 1.3), large: (ms(2), 1.4));
$h5-map: ( null: (ms(-1), 1.3), large: (ms(1), 1.4));