// Class & Placeholders helpers
%bg-image {
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

%image-holder-lg {
    width: 100%;
    margin: 0 auto;
    display: block;
}

%center-block {
    margin: 0 auto;
    display: block;
}

%letter-spacing {
    p {
        letter-spacing: 0.02em;
    }
}