/* -------------------------------- 

COMPONENTS - Button style

-------------------------------- */

$btn-radius: 4px !default;
// COLORS - Button text
$btn-text-dark: $font-color-gray !default;
$btn-text-light: $font-color-white !default;
// COLORS - Button
$btn-color-outline-white: $font-color-white;
$btn-color-green: $btn-color-green !default;
$btn-color-orange: $btn-color-oragne !default;
// COLORS - Button Hover 
$btn-color-orange-hover: darken($btn-color-orange, 2%) !default;
$btn-color-green-hover: darken($btn-color-green, 2%) !default;
.btn {
    outline: 0;
    color: $btn-text-light;
    font-family: $font-primary;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: $font-weight-700;
    //    @include margin(10px 0);
    @include transition(all 0.2s ease-in-out);
}

.btn:focus,
.btn:active,
.btn:hover {
    outline: 0;
}


/* Button Sizes */

.btn-xs {
    font-size: ms(-4);
    @include x-rem(padding, 6px 11px);
}

.btn-sm {
    font-size: ms(-3);
    @include x-rem(padding, 8px 15px);
}

.btn-md {
    @include x-rem(padding, 10px 40px);
}

.btn-lg {
    font-size: 16px;
    @include x-rem(padding, 15px 40px);
}


/* Button Class - Green */

.btn-green {
    background-color: $btn-color-green;
    -webkit-box-shadow: 0 3px 6px 0 rgba($btn-color-green, .5);
    box-shadow: 0 3px 6px 0 rgba($btn-color-green, .5);
    transform: translateY(-1px);
    color: $btn-text-light !important;
    &:hover {
        background-color: $btn-color-green-hover;
        color: $btn-text-light !important;
    }
}


/* Button Class - Orange */

.btn-orange {
    background-color: $btn-color-orange;
    color: $btn-text-light !important;
    -webkit-box-shadow: 0 3px 6px 0 rgba($btn-color-orange, .4);
    box-shadow: 0 3px 6px 0 rgba($btn-color-orange, .4);
    &:hover {
        background-color: $btn-color-orange-hover;
        color: $btn-text-light !important;
    }
}


/* Button Class - Default */

.btn-default {
    //    background-color: $btn-color-orange;
    color: $btn-text-dark !important;
    border: 1px solid rgba($gray, 0.15);
    -webkit-box-shadow: 0 3px 6px 0 rgba($gray, .2);
    box-shadow: 0 3px 6px 0 rgba($gray, .2);
    &:hover {
        border: 1px solid rgba($gray, 0.15);
    }
}


/* Button Class - Submit */

.btn-success {
    background-color: #4bcfbe;
    color: $btn-text-light !important;
    border: 0;
    -webkit-box-shadow: 0 3px 6px 0 rgba(#4bcfbe, .4);
    box-shadow: 0 3px 6px 0 rgba(#4bcfbe, .4);
    &:hover, &:active {
        background-color: #4bcfbe !important;
    }
}


/* Button Class - Submit */

.btn-purple {
    background-color: $btn-color-purple;
    color: $btn-text-light !important;
    border: 0;
    -webkit-box-shadow: 0 3px 6px 0 rgba($btn-color-purple, .4);
    box-shadow: 0 3px 6px 0 rgba($btn-color-purple, .4);
    &:hover {
        background-color: $btn-color-purple;
    }
}


/* Button Class - Instagram */

.btn-ig {
    background-color: #3f729b;
    color: $btn-text-light;
    border: 0;
    margin: 10px 0;
    &:focus,
    &:hover {
        background-color: #356083;
        border: 0;
        color: $btn-text-light;
    }
}

/* If no shadow on the button*/

.btn-no-shadow{
  box-shadow:none !important;
}

.control-label{
  text-align:left !important;
}