/*-------------------

PAGE: Home

-------------------*/
.main-view {
    .page-heading h3 {
        margin: 0;
        color: #fff;
        font-weight: 300;
    }
    .page-heading p {
        text-align: center;
        color: #fff;
    }
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: .2;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
}

//.swiper-slide {
//}
//.swiper-slide-next, .swiper-slide-prev {
//    opacity: 0.5;
//}

.swiper-container {
    width: 100%;
    height: 423px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    margin: 20px auto;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

//
//.swiper-slide:nth-child(2n) {
//    width: 40%;
//}
//
//.swiper-slide:nth-child(3n) {
//    width: 20%;
//}
.card-block {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 4px;
    -webkit-box-shadow: 0 3px 6px 0 rgba(#000, .4);
    -moz-box-shadow: 0 3px 6px 0 rgba(#000, .4);
    box-shadow: 0 3px 6px 0 rgba(#000, .4);
    &.card-type-1 {
        width: 320px;
        margin: 20px auto;
    }
}

.card-block .card-image {
    position: relative;
    overflow: hidden;
    height: 262px;
    &:hover .highlight-overlay {
        opacity: 0.4;
    }
    .highlight-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100%;
        left: 0;
        opacity: 0.7;
        @include linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 95%, rgba(0, 0, 0, 1) 100%);
        @include transition(all 0.2s ease-in-out);
    }
    img {
        @include position(relative, 0 0 0 0);
        width: 100%;
        display: block;
        border-radius: 4px 4px 0 0;
    }
    .card-title {
        color: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
        padding: 20px;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
    }
}

.card-block .card-content {
    padding: 20px;
    border-radius: 0 0 2px 2px;
    font-size: 14px;
    text-align: left;
    color: #737e93;
}

.card-block .card-action {
    position: relative;
    background-color: inherit;
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 20px;
}